.win  {
    background-color: #7be500;
}

.lose {
    background-color: #e04251;
}

.align-center {
    text-align: center;
}

.rank-container{
    height: 60px;
    margin-bottom: 15px;
}

.rank-buttons-box{
    height: inherit;
    width: 30px;
    float: left;
    font-size: 20px;
}

.rank-button{
    padding: 5px;
}

.rank-image-box{
    margin-left: 5px;
    float: left;
}

.rank-image{
    height: 60px;
    width: 60px;
}

.rank-box{
    height: inherit;
    margin-left: 10px;
    float: left;
}

.tier{
    font-size: 25px;
}

.division{
    font-size: 16px;
}

.results-table{
    margin-bottom: 15px;
}

table{
    border: 1px solid #CCCCCC;
}