    <div class="rank-container">
        <div class="rank-buttons-box">
            <div class="glyphicon glyphicon-chevron-up rank-button" aria-hidden="true" (click)="rankUp()"></div>
            <div class="glyphicon glyphicon-chevron-down rank-button" aria-hidden="true" (click)="rankDown()"></div>
        </div>
        <div class="rank-image-box">
            <img class="rank-image" src="../../rank_images/{{currentRank.tier}}L.jpg">
        </div>
        <div class="rank-box">
            <div class="tier">{{currentRank | tierDisplay}}</div>
            <div class="division">Division {{currentRank | divisionDisplay}}</div>
        </div>
    </div>

    <div class="form-group">
        <button class="btn btn-default lost-button" (click)="lostGame()">Lost</button>
        <button class="btn btn-default won-button" (click)="wonGame()">Won</button>
    </div>

    <table>
        <tr>
            <td class="align-center" *ngFor="#result of recentResults"
                [ngClass]="{'win': result.result === 'W', 'lose': result.result === 'L'}">
                {{result.result}}
            </td>
        </tr>
        <tr>
            <td class="align-center" *ngFor="#result of recentResults">
                <img src="../../rank_images/{{result.rank.tier}}S.jpg" height="25" width="25">
            </td>
        </tr>
        <tr>
            <td class="align-center" *ngFor="#result of recentResults">{{result.rank | divisionDisplay}}</td>
        </tr>
    </table>
    <button class="btn btn-default" (click)="undo()">
        <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
        Remove Last
    </button>

    <h4>Overall: {{winPercentage}}%</h4>
    <h4>Recent: {{recentWinPercentage}}%</h4>
    <h4>Total Games Played: {{winCount + lossCount}}</h4>
    <h4>Games played Today: {{gamesPlayedToday}}</h4>
    <h4>Wins: {{winCount}}</h4>
    <h4>Losses: {{lossCount}}</h4>



