<div>

    <h3>Overall: {{winPercentage}}%</h3>
    <h3>Recent: {{recentWinPercentage}}%</h3>
    <h4>Games Played: {{winCount + lossCount}}</h4>

    <table>
        <tr>
            <td class="align-center" *ngFor="#result of recentResults"
                [ngClass]="{'win': result.result === 'W', 'lose': result.result === 'L'}">
                {{result.result}}
            </td>
        </tr>
        <tr>
            <td class="align-center" *ngFor="#result of recentResults">
                <img src="../../rank_images/{{result.rank.tier}}S.jpg" height="25" width="25">
            </td>
        </tr>
        <tr>
            <td class="align-center" *ngFor="#result of recentResults">{{result.rank.division}}</td>
        </tr>
    </table>

    Wins: {{winCount}}
    Losses: {{lossCount}}
</div>

<h3>
    <img src="../../rank_images/{{currentRank.tier}}S.jpg">
    Tier {{currentRank.tier}} Division {{currentRank.division}}
</h3>


<button (click)="rankDown()">Demoted</button>
<button (click)="lostGame()">Lost</button>
<button (click)="wonGame()">Won</button>
<button (click)="rankUp()">Promoted</button>
<button (click)="undo()">Undo</button>
